body {
  --s2-home-gradient-light: radial-gradient(
    100% 60% at 50% 100%,
    rgb(243 243 243) 0%,
    rgb(229 240 254 / 60%) 25%,
    rgb(200 190 250 / 40%) 50%,
    rgb(240 220 245 / 25%) 75%,
    rgb(243 243 243) 100%);
  --s2-home-gradient-dark: radial-gradient(
    100% 60% at 50% 100%,
    rgb(17 17 17) 0%,
    rgb(30 50 120 / 40%) 25%,
    rgb(80 70 180 / 30%) 50%,
    rgb(100 80 140 / 20%) 75%,
    rgb(17 17 17) 100%);
}

@media (width >= 900px) {
  .home-template {
    padding-inline-start: 0;

    .template-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'nav-rail main';
      gap: var(--s2-spacing-700);
      inline-size: 100%;
      box-sizing: border-box;

      .nav-rail {
        grid-area: nav-rail;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--s2-spacing-100);
        position: sticky;
        top: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
        block-size: calc(100dvh - var(--sh-header-height) - var(--s2-spacing-100) - 16px);

        .sitenav {
          display: block;
          position: relative;
          inset: 0;
          flex: 0 0 var(--sh-sitenav-rail-width);
          z-index: 1;
        }
      }

      main {
        grid-area: main;
      }
    }
  }
}

body.home-template {
  background-image: var(--s2-home-gradient-light);

  h1 {
    font-weight: 400;
  }
}

body.home-template.dark-scheme,
body.home-template:not(.light-scheme, .dark-scheme) {
  @media (prefers-color-scheme: dark) {
    background-image: var(--s2-home-gradient-dark);
  }
}
