body.home-template {
  h1 {
    font-weight: 400;
  }
}

@media (width >= 900px) {
  .home-template {
    padding-inline-start: 0;

    .template-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'nav-rail main';
      gap: var(--s2-spacing-700);
      inline-size: 100%;
      box-sizing: border-box;

      .nav-rail {
        grid-area: nav-rail;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--s2-spacing-100);
        position: sticky;
        top: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
        block-size: calc(100dvh - var(--sh-header-height) - var(--s2-spacing-100) - 16px);

        .sitenav {
          display: block;
          position: relative;
          inset: 0;
          flex: 0 0 var(--sh-sitenav-rail-width);
          z-index: 1;
        }
      }

      main {
        grid-area: main;
      }
    }
  }
}
