.detail-template {
  .template-wrapper {
    display: grid;
    grid-template-areas:
      'sitenav'
      'pagenav'
      'main';

    .sitenav {
      grid-area: sitenav;
      z-index: var(--sh-z-sitenav);
      isolation: isolate;
    }

    main {
      grid-area: main;
    }

    .page-nav {
      grid-area: pagenav;
      z-index: var(--sh-z-pagenav);
    }
  }
}

@media (width >= 1200px) {
  .detail-template {
    .template-wrapper {
      grid-template-columns: 0.2fr 0.6fr 0.2fr;
      grid-template-areas: 'sitenav main pagenav';
      gap: var(--s2-spacing-400);
      inline-size: var(--se-grid-container-width);
      margin: 0 auto;

      .sitenav,
      .page-nav {
        z-index: auto;
        isolation: auto;
      }

      .section {
        > .default-content {
          max-inline-size: 100%;
        }
      }
    }
  }
}
