.detail-template {
  .template-wrapper {
    .sitenav {
      z-index: var(--sh-z-sitenav);
      isolation: isolate;
    }

    main {
      grid-area: main;
    }

    .page-nav {
      grid-area: pagenav;
    }
  }
}

@media (width >= 900px) {
  .detail-template {
    padding-inline-start: 0;

    .template-wrapper {
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 'nav-rail main pagenav';
      inline-size: 100%;
      gap: var(--s2-spacing-800);

      .nav-rail {
        grid-area: nav-rail;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: var(--s2-spacing-100);
        position: sticky;
        top: calc(var(--sh-header-height) + var(--s2-spacing-100) + 8px);
        block-size: calc(100dvh - var(--sh-header-height) - var(--s2-spacing-100) - 16px);

        .sitenav {
          display: block;
          position: sticky;
          flex: 0 0 var(--sh-sitenav-rail-width);
          z-index: auto;
          isolation: auto;
        }
      }

      .section > .default-content {
        max-inline-size: 100%;
      }
    }
  }
}
