@media (width >= 1200px) {
  .landing-template {
    .template-wrapper {
      display: grid;
      grid-template-columns: 0.2fr 0.8fr;
      gap: var(--s2-spacing-800);
      inline-size: var(--se-grid-container-width);
      margin: 0 auto;

      .section {
        > .default-content {
          max-inline-size: 100%;
        }
      }
    }

    /* TODO: .section.container is used on the pattern library page for cards.
    Double check that this breakpoint doesn't conflict with the core layout blocks. */
    @media (width >= 1200px) {
      .section.container > .block-content {
        max-inline-size: 100%;
      }
    }
  }
}
